@using UalaSelecionado8.Theme
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Style="background-color:white;" Fixed="true" Elevation="0">
        <MudHidden Breakpoint="Breakpoint.Xs">
            <MudLink Href="/"><MudImage Alt="Logo" Src="/img/Logo.svg" /></MudLink>
        </MudHidden>
        <MudSpacer />
        <AuthorizeView>
            <Authorized>
                <MudMenu AnchorOrigin="Origin.BottomRight" LockScroll="true" TransformOrigin="Origin.TopRight">
                    <ActivatorContent>
                        <MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" />
                    </ActivatorContent>
                    <ChildContent>
                        <div style="min-width: 220px">
                            <PersonCard />
                            <MudMenuItem Href="/profile">
                                <div class="d-flex">
                                    <MudIcon Class="mx-2" Icon="@Icons.Material.Filled.Person" />
                                    <MudText>Perfil</MudText>
                                </div>
                            </MudMenuItem>
                            <MudMenuItem Href="/home">
                                <div class="d-flex">
                                    <MudIcon Class="mx-2" Icon="@Icons.Material.Filled.Factory" />
                                    <MudText>Inicio</MudText>
                                </div>
                            </MudMenuItem>
                            <div class="mt-4 mx-4">
                                <MudButton Color="Color.Error" FullWidth="true" StartIcon="@Icons.Material.Filled.Logout"
                                           Variant="Variant.Filled" OnClick="Logout">
                                    Salir
                                </MudButton>
                            </div>
                        </div>
                    </ChildContent>
                </MudMenu>
            </Authorized>
            <NotAuthorized>
                <MudButton Variant="Variant.Filled" Color="Color.Primary"  OnClick="@(() => NavigationManager.NavigateTo("Login"))">Login</MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Anchor="Anchor.End" Variant="DrawerVariant.Temporary" Elevation="2">
        <PersonCard></PersonCard>
    </MudDrawer>
    <MudMainContent >
        @Body
    </MudMainContent>
</MudLayout>


@code {
    bool _drawerOpen = false;
    private readonly MudTheme _currentTheme = new MudBlazorAdminDashboard();

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    public async Task Logout()
    {
        await AuthService.Logout();
        NavigationManager.NavigateTo("/");
    }
}