@page "/home"
@using ApexCharts
@using Color = MudBlazor.Color
@using ChartType = MudBlazor.ChartType
@layout DashboardLayout
@attribute [Authorize]

<PageTitle>Alau - Dashboard</PageTitle>
<TitleDesc Title="Dashboard" Description="Visualiza tus movimientos financieros, transacciones y balance"></TitleDesc>
<main class="d-flex flex-column flex-wrap align-center justify-center">
    <div style="width:100%; max-width:900px" class="d-flex flex-column flex-wrap align-center justify-center gap-2">
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <div style="width:90%" class="d-flex flex-column flex-wrap align-center justify-center gap-2">
                <div style="width:100%">
                    <MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-2">Saldo</MudText>
                    <MudPaper Elevation="1" Class="pa-2">
                        <MudText Typo="Typo.h6">Disponible: @ConvertToCurrencyFormat(9653)</MudText>
                        <MudText Typo="Typo.h6">Invertido: @ConvertToCurrencyFormat(1578)</MudText>
                    </MudPaper>
                </div>


                <div style="width: 100%">
                    <MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-2">Mis Movimientos</MudText>
                    <MudTable Elevation="1" Style="width:100%" Items="@_elements" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Primary">
                        <HeaderContent>
                            <MudTh>Nombre</MudTh>
                            <MudTh>Categoria</MudTh>
                            <MudTh>Fecha</MudTh>
                            <MudTh>Importe</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
                            <MudTd DataLabel="Categoria">@context.Categoria</MudTd>
                            <MudTd DataLabel="Fecha" HideSmall="_hidePosition">@context.Fecha.ToString("dd-MM-yy")</MudTd>
                            <MudTd DataLabel="Import">@context.Import.ToString("C")</MudTd>
                        </RowTemplate>
                    </MudTable>
                    <div class="d-flex align-center justify-center mt-4">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary">Ver mas Movimientos</MudButton>
                    </div>
                </div>
            </div>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
            <div style="width:90%" class="d-flex flex-row flex-wrap align-start justify-space-between gap-2">
                <MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-2">Mis Movimientos</MudText>
                <div style="width: 75%">
                    <MudTable Elevation="1" Style="width:100%" Items="@_elements" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Primary">
                        <HeaderContent>
                            <MudTh>Nombre</MudTh>
                            <MudTh>Categoria</MudTh>
                            <MudTh>Fecha</MudTh>
                            <MudTh>Importe</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
                            <MudTd DataLabel="Categoria">@context.Categoria</MudTd>
                            <MudTd DataLabel="Fecha" HideSmall="_hidePosition">@context.Fecha.ToString("dd-MM-yy")</MudTd>
                            <MudTd DataLabel="Import">@context.Import.ToString("C")</MudTd>
                        </RowTemplate>

                    </MudTable>
                    <div class="d-flex align-center justify-center mt-4">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary">Ver mas Movimientos</MudButton>
                    </div>
                </div>
                <MudPaper Elevation="1" Style="width:20%" Class="pa-2">
                    <MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-2">Saldo</MudText>
                    <MudText Typo="Typo.body1">Disponible: @ConvertToCurrencyFormat(965)</MudText>
                    <MudText Typo="Typo.body1">Invertido: @ConvertToCurrencyFormat(1578)</MudText>
                </MudPaper>
            </div>
        </MudHidden>


        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudPaper Elevation="0" Width="90%" Class="back-gray d-flex flex-row justify-center align-center flex-wrap pa-2 gap-2">
                <MudText Style="width:100%" Typo="Typo.h5" Color="Color.Primary">Analisis de Gastos</MudText>
                <MudChart ChartType="ChartType.Donut" Width="300px" Height="300px" InputData="@_elements.Select(a=>a.Import).ToArray()" InputLabels="@_elements.Select(a=>a.Categoria).ToArray()">
                    <CustomGraphics>
                        <text class="donut-inner-text" x="47%" y="35%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="2">Total</text>
                        <text class="donut-inner-text" x="47%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="4">@_elements.Sum(a=>a.Import).ToString("C")</text>
                    </CustomGraphics>
                </MudChart>
            </MudPaper>

            <div>
                <MudText Typo="Typo.h5" Color="Color.Primary">Mis Rendimientos</MudText>
                <div>
                    @if (_orders.Count > 0)
                    {
                        <ApexCharts.ApexChart TItem="GananciaModelTest"
                                              Title="Order Net Value">

                            <ApexCharts.ApexPointSeries TItem="GananciaModelTest"
                                                        Items="_orders"
                                                        Name="Interes por Mes"
                                                        XValue="@(e => e.XAxisLabels)"
                                                        YAggregate="@(e => e.Sum(e => e.Value))"
                                                        SeriesType="SeriesType.Bar"
                                                        Color="#005ba3" />
                        </ApexCharts.ApexChart>
                    }

                </div>
            </div>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
            <div style="width:90%" Class="d-flex flex-row justify-space-between align-start flex-wrap pa-2 gap-2">
                <MudPaper Elevation="0" Width="45%" Class="back-gray d-flex flex-row justify-center align-center flex-wrap pa-2 gap-2">
                    <MudText Style="width:100%" Typo="Typo.h5" Color="Color.Primary">Analisis de Gastos</MudText>
                    <MudChart ChartType="ChartType.Donut" Width="300px" Height="300px" InputData="@_elements.Select(a=>a.Import).ToArray()" InputLabels="@_elements.Select(a=>a.Categoria).ToArray()">
                        <CustomGraphics>
                            <text class="donut-inner-text" x="47%" y="35%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="2">Total</text>
                            <text class="donut-inner-text" x="47%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="4">@_elements.Sum(a=>a.Import).ToString("C")</text>
                        </CustomGraphics>
                    </MudChart>
                </MudPaper>

                <div>
                    <MudText Typo="Typo.h5" Color="Color.Primary">Mis Rendimientos</MudText>
                    <div>
                        @if (_orders.Count > 0)
                        {
                            <ApexCharts.ApexChart TItem="GananciaModelTest"
                                                  Title="">

                                <ApexCharts.ApexPointSeries TItem="GananciaModelTest"
                                                            Items="_orders"
                                                            Name="Interes por Mes"
                                                            XValue="@(e => e.XAxisLabels)"
                                                            YAggregate="@(e => e.Sum(e => e.Value))"
                                                            SeriesType="SeriesType.Bar"
                                                            Color="#005ba3" />
                            </ApexCharts.ApexChart>
                        }

                    </div>
                </div>

            </div>
        </MudHidden>




    </div>
</main>


@code {
    //Table
    private bool _hidePosition = true;
    private bool _loading;
    private ICollection<Element> _elements = new List<Element>();
    //Chart Bar
    //private int Index = 0; //default value cannot be 0 -> first selectedindex is 0.
    //public List<ChartSeries> Series = new List<ChartSeries>()
    //{
    //    new ChartSeries() { Data = new double[] { 40, 20, 25, 27, 46, 60, 48, 80, 15 } },
    //};
    //public string[] XAxisLabels = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep" };
    private List<GananciaModelTest> _orders = new List<GananciaModelTest>();

    protected override void OnInitialized()
    {
        var e1 = new Element
        {
                Nombre = "HBOmax",
                Import = new Random().Next(250),
                Categoria = "Entretenimiento",
                Fecha = DateTime.Today.AddDays(new Random().Next(-30, 1))
            };
        var e2 = new Element
        {
                Nombre = "Pago de Agua",
                Import = new Random().Next(2000),
                Categoria = "Servicios",
                Fecha = DateTime.Today.AddDays(new Random().Next(-30, 1))
            };
        var e3 = new Element
        {
                Nombre = "Rappi",
                Import = new Random().Next(500),
                Categoria = "Comida",
                Fecha = DateTime.Today.AddDays(new Random().Next(-30, 1))
            };
        var e4 = new Element
        {
                Nombre = "Amazon",
                Import = new Random().Next(999),
                Categoria = "Compras",
                Fecha = DateTime.Today.AddDays(new Random().Next(-30, 1))
            };

        var a1 = new GananciaModelTest
        {
                XAxisLabels = "Marzo",
                Value = new Random().Next(100)
            };
        var a2 = new GananciaModelTest
        {
                XAxisLabels = "Abril",
                Value = new Random().Next(100)
            };
        var a3 = new GananciaModelTest
        {
                XAxisLabels = "Mayo",
                Value = new Random().Next(100)
            };
        _elements.Add(e1);
        _elements.Add(e2);
        _elements.Add(e3);
        _elements.Add(e4);
        _orders.Add(a1);
        _orders.Add(a2);
        _orders.Add(a3);
        StateHasChanged();
    }

    // Convert numbers type double in numbers price
    private string ConvertToCurrencyFormat(int number)
    {
        return $"${new Random().Next(number):n0}";
    }

}