@page "/"
@layout HomeLayout


<MudGrid>
    <MudItem xs="12">

        <MudImage Src="/img/Rectangle (1).svg" Class="absolute first-image"></MudImage>
        <MudImage Src="/img/Rectangle.svg" Class="relative"></MudImage>

        <MudText Typo="Typo.h3" Class="h4"> Comenzá hoy a invertir </MudText>
        <MudButton Variant="Variant.Filled" Class="button-app rounded-pill px-3 py-2">DESCARGA LA APP</MudButton>
    </MudItem>
</MudGrid>
<MudPaper Class="ma-2 card-box-shadow" Elevation="3" Width="80%" MinWidth="200px" MaxWidth="400px">
    <MudImage Class="ps-4" Src="/img/IconCelu.png" Alt="icono celular" />
    <MudText Align="Align.Center" Typo="Typo.h3">Conoce nuestra App</MudText>
    <MudPaper Class="d-flex justify-end flex-end align-center">
        <MudNavLink Class="nav-link"><span class="custom-text">Ver más ></span></MudNavLink>
    </MudPaper>
</MudPaper>
<MudPaper Class="ma-2 card-box-shadow" Elevation="3" Width="80%" MinWidth="200px" MaxWidth="400px">
    <MudImage Class="ps-4" Src="/img/tarjeta.png" Alt="icono celular" />
    <MudText Align="Align.Center" Typo="Typo.h3">Emisión de tu tarjeta Visa</MudText>
    <MudPaper Class="d-flex justify-end flex-end align-center">
        <MudNavLink Class="nav-link"><span class="custom-text">Ver más ></span></MudNavLink>
    </MudPaper>
</MudPaper>
<MudPaper Class="ma-2 card-box-shadow" Elevation="3" Width="80%" MinWidth="200px" MaxWidth="400px">
    <MudImage Class="ps-4" Src="/img/pagos.png" Alt="icono celular" />
    <MudText Align="Align.Center" Typo="Typo.h3">Gestión de pagos</MudText>
    <MudPaper Class="d-flex justify-end flex-end align-center">
        <MudNavLink Class="nav-link"><span class="custom-text">Ver más ></span></MudNavLink>
    </MudPaper>
</MudPaper>
<MudPaper Class="ma-2 card-box-shadow" Elevation="3" Width="80%" MinWidth="200px" MaxWidth="400px">
    <MudImage Class="ps-4" Src="/img/compras.png" Alt="icono celular" />
    <MudText Align="Align.Center" Typo="Typo.h3">Compras</MudText>
    <MudPaper Class="d-flex justify-end flex-end align-center">
        <MudNavLink Class="nav-link"><span class="custom-text">Ver más ></span></MudNavLink>
    </MudPaper>
</MudPaper>


<MudPaper Class="background-section" MinWidth="100%" MinHeight="30vh">
    <MudText Class="mt-6 h4" Typo="Typo.h3" Align="Align.Center">Activa tu billetera por 90 días</MudText>
</MudPaper>

<MudText>Beneficios</MudText>
<MudList>
    <MudListItem>
        <MudIcon Class="icon-list" Icon="@Icons.Material.Filled.CheckCircleOutline" Title="Favorite" Color="Color.Error" Size="Size.Small" />
        Switch transaccional
    </MudListItem>
    <MudListItem>
        <MudIcon Class="icon-list" Icon="@Icons.Material.Filled.CheckCircleOutline" Title="Favorite" Color="Color.Error" Size="Size.Small" />
        Convergencia de Negocios
    </MudListItem>
    <MudListItem>
        <MudIcon Class="icon-list" Icon="@Icons.Material.Filled.CheckCircleOutline" Title="Favorite" Color="Color.Error" Size="Size.Small" />
        Múltiples módulos
    </MudListItem>
    <MudListItem>
        <MudIcon Class="icon-list" Icon="@Icons.Material.Filled.CheckCircleOutline" Title="Favorite" Color="Color.Error" Size="Size.Small" />
        Integración con distintas tecnologias
    </MudListItem>
    <MudListItem>
        <MudIcon Class="icon-list" Icon="@Icons.Material.Filled.CheckCircleOutline" Title="Favorite" Color="Color.Error" Size="Size.Small" />
        Medios de pago
    </MudListItem>
</MudList>

<MudPaper Width="100%" Class="mt-10 d-flex flex-wrap align-center relative">
    <div class="esfere top absolute">
    </div>
    <div class="esfere bottom absolute">
    </div>
    <MudImage Src="/img/Tarj.png" Class="z-2 relative" Style="width:70%" />

</MudPaper>

<MudPaper Width="40%">
    <MudImage Alt="Logo" Fluid="false" Width="80" Src="/img/Logo-white.svg" />

</MudPaper>
<MudPaper Class="d-flex flex-wrap flex-column gap-5">
    <MudPaper Class="d-flex flex-row flex-wrap justify-start align-center">
        <MudImage Width="24" Src="/img/icons/PlayStore.svg" />
        <MudText Class="text-app">Google Play</MudText>
    </MudPaper>
    <MudPaper Class="d-flex flex-row flex-wrap justify-start align-center">
        <MudImage Width="24" Src="/img/icons/Apple.svg" />
        <MudText Class="text-app">App Store</MudText>
    </MudPaper>
    <MudPaper Class="d-flex flex-row flex-wrap justify-center align-center gap-1">
        <MudImage Width="15" Src="/img/icons/Facebook.svg" />
        <MudImage Width="15" Src="/img/icons/Linkdin.svg" />
        <MudImage Width="15" Src="/img/icons/Tiktok.svg" />
        <MudImage Width="18" Src="/img/icons/Instagram.svg" />
        <MudImage Width="18" Src="/img/icons/Youtube.svg" />
        <MudImage Width="18" Src="/img/icons/Twiter.svg" />
    </MudPaper>
</MudPaper>
